body{
  padding:10px;
  font-size:30px;
	
}
#container{
	width:60%;
	border:3px solid blue;
	margin:auto;
}
.header{
	height:70px;
	line-height:70px;
	padding:0px 7px;
	background-color:blue;
	color:white;
}
#qs-container{
	display:flex;
	padding:10px 0px;
}
.options{
  border:3px ridge;
  margin:8px;
  padding:6px;
  cursor:pointer;
}
#question{
	width:100%;
}
#ans{
	margin-top:5px;
  padding:0px 10px;
	border:6px groove;
}
.selected{
  background-color:green;
}
.move{
	display:flex;
	align-items:center;
	justify-content:center;
	width:8%;
	text-align:center;
}
.move:hover{
	background-color:grey;
	opacity:45%;
}
